{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNK27VZ5RF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNK27VZ5RF');
</script>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="GATE_Future_Labs,Vr_trading,algo_trading_brainwave,vr_reality,value_innovation">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="GATE Future Labs Website">
	<meta property="og:title" content="GATE Future Labs Website">
	<meta property="og:description" content="GATE Future Website">
	<meta property="og:image" content="https://gate.future.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title -->
	<title>Gate Future Labs, A Value Innovation Company</title>

	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon8.png' %}">

	<!-- Stylesheet -->
	<link href="{% static 'assets/vendor/animate/animate.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

	<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" href="{% static 'assets/css/skin/skin-1.css' %}">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body id="bg" data-anm=".anm">

<!--loader start -->
<div id="loading-area" class="loading-page-1">
	<div class="loader">
		<div class="loading-dot"></div>
	</div>
</div>
<!--loader start -->

<div class="page-wraper">

	<!-- Header -->
	<header class="site-header mo-left header header-transparent">
		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg">
			<div class="main-bar clearfix ">
				<div class="container clearfix">

					<!-- Website Logo -->
					<div class="logo-header">
						<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
						<a href="{% url 'index' %}" class="logo-dark"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
					</div>

					<!-- Nav Toggle Button -->
					<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<!-- Extra Nav -->
					<div class="extra-nav">
						<div class="extra-cell">
							<a class="btn btn-outline-light btn-lg text-light" target="_blank" href="">Login</a>
							<a class="btn btn-primary btn-lg btn-shadow" target="_blank" href="">Register</a>
						</div>
					</div>


					<!-- Header Nav -->
					<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<div class="logo-header">
							<a href="{% url 'index' %}" class="logo-dark"><img src="{% static 'https://gatefuturelabs.com/static/assets/images/lg1.png' %}" alt=""></a>
						</div>
						<ul class="nav navbar-nav navbar navbar-left">
							<li><a style="color:#3090c7;" href="{% url 'index' %}"><b>Home</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'about' %}"><b>About Us</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'subscribe' %}"><b>Subscribe</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'blog' %}"><b>Blog</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'join' %}"> <b>Join Our Team</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'contact' %}"><b>Contact Us</b></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->
	</header>
	<!-- Header End -->


  <!-- Banner  -->
		<div class="dz-bnr-inr dz-bnr-inr-sm text-center position-relative overlay-black-dark" style="background-image:url({% static 'assets/images/banner/bnr2.jpg' %});">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>Contact Us</h1>
					<!-- Breadcrumb Row -->
					<nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
						</ul>
					</nav>
					<!-- Breadcrumb Row End -->
				</div>
			</div>
			<svg  class="shape1" viewBox="0 0 282 171" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M126.783 58.9324C99.4861 4.33881 30.8873 -2.17317 0 1.39504V171.666L282 172C282 125.502 226.135 133.53 196.698 130.185C148.794 128.312 135.034 72.9822 126.783 58.9324Z" fill="var(--primary)"/>
			</svg>
			<svg class="shape2" viewBox="0 0 198 342" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M77.0989 212.77C4.94983 240.593 -3.65619 310.516 1.05944 342L199.558 342L200 -8.74228e-06C138.549 -6.05619e-06 149.16 97.8604 144.739 127.866C142.263 176.694 95.6667 204.359 77.0989 212.77Z" fill="var(--primary)"/>
			</svg>
			<svg class="shape3" viewBox="0 0 93 78" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M31.7243 33.8972C9.47383 37.2 1.30374 12.6752 0 0H93V77.5724C78.8762 75.8341 74.7477 66.7079 71.271 58.0164C67.7944 49.3248 59.5374 29.7687 31.7243 33.8972Z" fill="var(--primary)"/>
			</svg>
			<ul class="dz-shape">
				<li>
					<svg width="40" height="40" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="40" height="40" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="35" height="35" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
			</ul>
		</div>
		<!-- Banner End -->

<!-- Map Iframe -->
		<section  class="overlay-box style-1 bg-light-purple wow fadeInUp">
			<br>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-5 col-lg-5 m-b30">
						<div class="info-box style-1 ">
							<div class="info">
								&nbsp;&nbsp;<img style="height:50%;width:50%;align:center;" src="{% static 'assets/images/g1.jpeg' %}">
							</div>

							<div class="widget widget_about">
								<div class="widget widget_getintuch">
									<ul>
										<li class="wow fadeInUp" data-wow-delay="1.0s">
											<div class="d-flex align-items-center">
												<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M14.7211 16.831C13.8849 16.831 13.0511 16.5547 12.3536 16.0022L6.74735 11.4822C6.3436 11.1572 6.2811 10.566 6.60485 10.1635C6.9311 9.76224 7.5211 9.69849 7.9236 10.0222L13.5249 14.5372C14.2286 15.0947 15.2199 15.0947 15.9286 14.5322L21.4736 10.0247C21.8761 9.69599 22.4661 9.75849 22.7936 10.161C23.1199 10.5622 23.0586 11.1522 22.6574 11.4797L17.1024 15.9947C16.3999 16.5522 15.5599 16.831 14.7211 16.831Z" fill="white"/>
													<mask id="mask0_52_48" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="2" width="28" height="25">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 2.5H28.1249V26.875H1.25V2.5Z" fill="white"/>
													</mask>
													<g mask="url(#mask0_52_48)">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M8.54863 25H20.8236C20.8261 24.9975 20.8361 25 20.8436 25C22.2699 25 23.5349 24.49 24.5049 23.5212C25.6311 22.4 26.2499 20.7887 26.2499 18.985V10.4C26.2499 6.90875 23.9674 4.375 20.8236 4.375H8.55113C5.40738 4.375 3.12488 6.90875 3.12488 10.4V18.985C3.12488 20.7887 3.74488 22.4 4.86988 23.5212C5.83988 24.49 7.10613 25 8.53113 25H8.54863ZM8.52738 26.875C6.59863 26.875 4.87613 26.175 3.54613 24.85C2.06488 23.3725 1.24988 21.29 1.24988 18.985V10.4C1.24988 5.89625 4.38863 2.5 8.55113 2.5H20.8236C24.9861 2.5 28.1249 5.89625 28.1249 10.4V18.985C28.1249 21.29 27.3099 23.3725 25.8286 24.85C24.4999 26.1737 22.7761 26.875 20.8436 26.875H20.8236H8.55113H8.52738Z" fill="white"/>
													</g>
												</svg>
												<span class="text-light">Chat to us - Support</span>
											</div>
											<p class="m-a0 p-t10">Our friendly team is here to help.</p>
											<h6 class="text-light">support@gatetrader.com</h6>
										</li>


										<li class="wow fadeInUp" data-wow-delay="1.2s">
											<div class=" d-flex align-items-center">
												<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M15.3131 10.625C14.1069 10.625 13.1256 11.6063 13.1256 12.8138C13.1256 14.02 14.1069 15 15.3131 15C16.5194 15 17.5006 14.02 17.5006 12.8138C17.5006 11.6063 16.5194 10.625 15.3131 10.625M15.3131 16.875C13.0731 16.875 11.2506 15.0537 11.2506 12.8137C11.2506 10.5725 13.0731 8.75 15.3131 8.75C17.5531 8.75 19.3756 10.5725 19.3756 12.8137C19.3756 15.0537 17.5531 16.875 15.3131 16.875" fill="white"/>
													<mask id="mask0_52_82" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="2" width="21" height="25">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5 2.5H25.6244V26.875H5V2.5Z" fill="white"/>
													</mask>
													<g mask="url(#mask0_52_82)">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M15.3119 4.375C10.6594 4.375 6.87439 8.19625 6.87439 12.8913C6.87439 18.865 13.9044 24.685 15.3119 24.995C16.7194 24.6838 23.7494 18.8638 23.7494 12.8913C23.7494 8.19625 19.9644 4.375 15.3119 4.375V4.375ZM15.3119 26.875C13.0694 26.875 4.99939 19.935 4.99939 12.8912C4.99939 7.16125 9.62564 2.5 15.3119 2.5C20.9981 2.5 25.6244 7.16125 25.6244 12.8912C25.6244 19.935 17.5544 26.875 15.3119 26.875V26.875Z" fill="white"/>
													</g>
												</svg>
											<span class="text-light">Office - Partnership</span>
											</div>
											<p class=" m-a0 p-t10">Talk, directly to our CEO.</p>
											<h6 class="text-light">ceo@gatefuturelabs.com</h6>
										</li>
									</ul>
								</div>
							</div>

							<div class=" dz-social style-1 wow fadeInUp" data-wow-delay="0.2s">
								<h6 class="text-light" >Our Socials</h6>
								<ul class="social-icon">
									<li><a class="social-btn" target="_blank" href=""><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a class="social-btn" target="_blank" href=""><i class="fa-brands fa-instagram"></i></a></li>
									<li><a class="social-btn" target="_blank" href=""><i class="fa-brands fa-twitter"></i></a></li>
									<li><a class="social-btn" target="_blank" href=""><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-7 col-sm-12 m-b30">
						<div class="form-wrapper style-1">
							<h2 class="title m-a0 wow fadeInUp" data-wow-delay="1.6s">Get In touch</h2>
							<p class="font-text text-primary p-b10 wow fadeInUp" data-wow-delay=".0s">Please take a moment to complete the contact form provided and we will promptly respond to your inquiry</p>
							<div class="contact-area">
								<form class="dz-form dzForm style-1 contact-bx" method="POST" action="assets/script/contact_smtp.php">
									<div class="dzFormMsg"></div>
									<input type="hidden" class="form-control" name="dzToDo" value="Contact">
									<div class="row ">
										<div class="col-md-6">
											<div class="input-group wow fadeInUp" data-wow-delay=".s">
												<input name="dzFirstName" required type="text" class="form-control" placeholder="First Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="input-group wow fadeInUp" data-wow-delay=".0s">
												<input name="dzLastName" required type="text" class="form-control" placeholder="Last Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="input-group wow fadeInUp" data-wow-delay=".0s">
												<input name="dzEmail" required type="text" class="form-control" placeholder="Email Address">
											</div>
										</div>
										<div class="col-md-6">
											<div class="input-group wow fadeInUp" data-wow-delay=".0s">
												<input name="dzPhoneNumber" required type="text" class="form-control" placeholder="Mobile No.">
											</div>
										</div>
										<div class="col-md-12">
											<div class="input-group wow fadeInUp" data-wow-delay=".0s">
												<textarea name="dzMessage" rows="1" required class="form-control" placeholder="Type Message..."></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="input-recaptcha wow fadeInUp" data-wow-delay=".0s">
												<div class="g-recaptcha" data-sitekey="<!-- Put reCaptcha Site Key -->" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
												<input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
											</div>
										</div>
										<div class="col-md-12 p-t20">
											<button name="submit" type="submit" value="Submit" class="btn btn-primary wow fadeInUp" data-wow-delay=".0s">Submit Now</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Map Iframe End -->


 		<!-- Footer -->
    <footer class="site-footer style-1 position-relative">
		<div class="footer-top overlay-black-dark-dark-dark" style="background-image:url({% static 'assets/images/banner/bnr.jpg' %});">
			<div class="container">
				<div class="footer-subscribe-wrapper">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="widget wow fadeInUp" data-wow-delay="0.4s">
								<div class="footer-logo">
									<a href="index.html" class="logo-light"><img src="{% static 'assets/images/WT1.png' %}" alt=""></a>
								</div>
								<p>Gate Future Labs Pvt. Ltd. is a Rapidly Growing Best-in-Class Value Innovation Company.</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="widget  wow fadeInUp" data-wow-delay="0.6s">
								<h4 class="footer-title mb-3 ">Subscribe To Our Newsletter</h4>
								<form class="dzSubscribe ft-subscribe mb-4" action="assets/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group mb-0">
										<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary two"><i class="fa-regular fa-paper-plane"></i></button>
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row p-50">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="widget wow fadeInUp" data-wow-delay="0.8s">
							<h4 style="text-align:left;margin-left:15%;"  class="footer-title">Contact</h4>
							<div class="widget_getintuch">
								<ul>
									<li style="text-align:left;" >
										<i class="fa-solid fa-location-dot"></i>
										3rd Main HAL 3rd Stage,<br>Old Airport Road Bangalore <br> KA 560017 IN

									</li>
									<li style="text-align:left;" >
										<i class="fa-brands fa-whatsapp"></i>
										+(91) 720 409 1622<br>
									</li>
									<li style="text-align:left;">
										<i class="fa-solid fa-inbox"></i>
										gatetrader.com<br>
										gatefuturelabs.com
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.0s">
							<h4 class="footer-title">Our links</h4>
							<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us </a></li>
								<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
								<li><a href="{% url 'blog' %}">Blog</a></li>
								<li><a href="{% url 'join' %}">Join Our Team</a></li>
							</ul>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title">Other links</h4>
							<ul>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="https://gatefuturelabs.zohorecruit.in/careers">Careers</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
								<li><a href="{% url 'terms' %}">Terms & Condition</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title"></h4>
							<a href="http://www.gatetrader.com" ><img  class="" src="{% static 'assets/images/trp3.png' %}" style="margin-right:11%;height:75px;" ></a><br><br>
							<img class="" src="{% static 'assets/images/iso.png' %}" style="margin-left:8%;height:60px;"  >
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom text-md-center text-md-center">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-start text-center ">
							<p class="copyright-text wow fadeInUp" data-wow-delay="1.6s">Copyright 2024 by <a class="text-primary" href="http://gatefuturelabs.com/" target="_blank">GateFutureLabs</a>. All rights Reserved</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-end  text-center">
							<ul class="footer-link wow fadeInUp" data-wow-delay="1.8s">
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'contact' %}">Help Desk</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="dz-shape-2">
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
		</ul>
	</footer>
    <!-- Footer End -->

	<button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/vendor/wow/wow.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- OWL silder -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.ajax.js' %}"></script><!-- AJAX -->
<script src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM JS -->
<script src="{% static 'assets/vendor/switcher/switcher.js' %}"></script><!-- SWITCHER -->

<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "siq0a2c55ded5a61f3c599bb72a29265b2b44a84239ac339327c2c647f2f92e53a3", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zohopublic.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
</body>
</html>

