{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNK27VZ5RF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNK27VZ5RF');
</script>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="GATE_Future_Labs,Vr_trading,algo_trading_brainwave,vr_reality,value_innovation">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="GATE Future Labs Website">
	<meta property="og:title" content="GATE Future Labs Website">
	<meta property="og:description" content="GATE Future Website">
	<meta property="og:image" content="https://gate.future.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title -->
	<title>Gate Future Labs, A Value Innovation Company</title>

	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon8.png' %}">

	<!-- Stylesheet -->
	<link href="{% static 'assets/vendor/animate/animate.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

	<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" href="{% static 'assets/css/skin/skin-1.css' %}">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body id="bg" data-anm=".anm">

<!--loader start -->
<div id="loading-area" class="loading-page-1">
	<div class="loader">
		<div class="loading-dot"></div>
	</div>
</div>
<!--loader start -->

<div class="page-wraper">

	<!-- Header -->
	<header class="site-header mo-left header header-transparent">
		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg">
			<div class="main-bar clearfix ">
				<div class="container clearfix">

					<!-- Website Logo -->
					<div class="logo-header">
						<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
						<a href="{% url 'index' %}" class="logo-dark"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
					</div>

					<!-- Nav Toggle Button -->
					<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<!-- Extra Nav -->
					<div class="extra-nav">
						<div class="extra-cell">
							<a class="btn btn-outline-light btn-lg text-light" target="_blank" href="">Login</a>
							<a class="btn btn-primary btn-lg btn-shadow" target="_blank" href="">Register</a>
						</div>
					</div>


					<!-- Header Nav -->
					<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<div class="logo-header">
							<a href="{% url 'index' %}" class="logo-dark"><img src="{% static 'https://gatefuturelabs.com/static/assets/images/lg1.png' %}" alt=""></a>
						</div>
						<ul class="nav navbar-nav navbar navbar-left">
							<li><a style="color:#3090c7;" href="{% url 'index' %}"><b>Home</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'about' %}"><b>About Us</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'subscribe' %}"><b>Subscribe</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'blog' %}"><b>Blog</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'join' %}"> <b>Join Our Team</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'contact' %}"><b>Contact Us</b></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->
	</header>
	<!-- Header End -->

	<div class="page-content">

		<!-- Banner  -->
			<div class="dz-bnr-inr dz-bnr-inr-sm text-center position-relative overlay-black-dark" style="background-image:url({% static 'assets/images/banner/bnr2.jpg' %});">
				<div class="container">
					<div class="dz-bnr-inr-entry">
						<h1>Blog Details</h1>

					</div>
				</div>
				<svg  class="shape1" viewBox="0 0 282 171" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M126.783 58.9324C99.4861 4.33881 30.8873 -2.17317 0 1.39504V171.666L282 172C282 125.502 226.135 133.53 196.698 130.185C148.794 128.312 135.034 72.9822 126.783 58.9324Z" fill="var(--primary)"/>
				</svg>
				<svg class="shape2" viewBox="0 0 198 342" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M77.0989 212.77C4.94983 240.593 -3.65619 310.516 1.05944 342L199.558 342L200 -8.74228e-06C138.549 -6.05619e-06 149.16 97.8604 144.739 127.866C142.263 176.694 95.6667 204.359 77.0989 212.77Z" fill="var(--primary)"/>
				</svg>
				<svg class="shape3" viewBox="0 0 93 78" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M31.7243 33.8972C9.47383 37.2 1.30374 12.6752 0 0H93V77.5724C78.8762 75.8341 74.7477 66.7079 71.271 58.0164C67.7944 49.3248 59.5374 29.7687 31.7243 33.8972Z" fill="var(--primary)"/>
				</svg>
					<ul class="dz-shape">
				<li>
					<svg width="40" height="40" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="40" height="40" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="35" height="35" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
			</ul>
			</div>
		<!-- Banner End -->

			
		<!-- Blog Details -->
		<section class="content-inner position-relative" style="background: white;">
			<div class="container">
				<div class="row ">
					<div class="col-xl-8 col-lg-8">
						<div class="blog-single pt-20 sidebar dz-card">
							<div class="dz-media dz-media-rounded rounded">
								<img src="{% static 'assets/images/d1.jpg' %}" alt="">
							</div>
							<div class="dz-info m-b30">
								<div class="dz-meta">
									<ul>
										<li class="post-author">
											<a href="javascript:void(0);">
												<img src="{% static 'assets/images/d2.jpg' %}" alt="">
												<span>By Jone Doe</span>
											</a>
										</li>
										<li class="post-date"><a href="javascript:void(0);"> 17 May 2022</a></li>
										<li class="post-comment"><a href="javascript:void(0);">3 comment</a></li>
									</ul>
								</div>
								<h3 class="dz-title">15 Advantages Of Cryptocurrency And How You Can Make Full Use Of It.</h3>
								<div class="dz-post-text">
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy</p>
									<p>For the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into.</p>
									<blockquote class="block-quote  style-1">
										<p>“You can make anything look good. Only a quarter of young adults are financially literate. You don’t want to overwhelm them with terrible advice.”</p>
										<cite> gate </cite>
									</blockquote>
									<p>The inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath.</p>
									<ul class="m-b30">
										<li>A wonderful serenity has taken possession.</li>
										<li>Of my entire soul, like these sweet mornings of spring which.</li>
										<li>I enjoy with my whole heart.</li>
										<li>This spot, which was created For the bliss of souls like mine.</li>
									</ul>
									<p>The inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty.</p>
								</div>
								<div class="dz-share-post">
									<div class="post-tags">
									<h6 class="m-b0 m-r10 d-inline">Tags:</h6>
										<a href="javascript:void(0);"><span>Corporate</span></a>
										<a href="javascript:void(0);"><span>Blog</span></a>
										<a href="javascript:void(0);"><span>Marketing</span></a>
									</div>
									<div class="dz-social-icon dark">
										<ul>
											<li><a target="_blank" class="fab fa-facebook-f" href=""></a></li>
											<li><a target="_blank" class="fab fa-instagram" href=""></a></li>
											<li><a target="_blank" class="fab fa-twitter" href=""></a></li>
											<li><a target="_blank" class="fab fa-youtube" href=""></a></li>
										</ul>
									</div>									
								</div>
							</div>
						</div>
						
						<div class="widget-title">
							<h4 class="title">Related Blog</h4>
						</div>
						<div class="row m-b30 m-sm-b10">
							<div class="col-md-6 col-xl-6 m-b30">
								<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
									<div class="dz-media">
										<a href="{% url 'blog' %}"><img src="{% static 'assets/images/pic11.jpg' %}" alt="">
										<span class="date"><a href="javascript:void(0)">14 Feb 2012</a></span>
									</div>
									<div class="dz-info  bg-light">
										<div class="dz-meta">
											<ul>
												<li class="post-author text-primary">
													<span>
														<i class="fa-solid fa-user"></i>
													</span>
													By Kk Sharma</li>
												<li class="post-date text-primary">
													<span>
														<i class="fa-solid fa-message"></i>
													</span>
												24 Comments</li>
											</ul>
										</div>
										<h5 class="dz-title"><a>Vestibulum massa arcu,  consectetu.</a></h5>
										<p>A wonderful serenity has taken of my entire soul, like these.</p>
										<a href="{% url 'blog' %}" class="btn btn-primary">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xl-6 m-b30">
								<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
									<div class="dz-media">
										<a href="{% url 'blog' %}"><img src="{% static 'assets/images/pic66.jpg' %}" alt="">
										<span class="date"><a href="javascript:void(0)">20 Jun 2019</a></span>
									</div>
									<div class="dz-info bg-light">
										<div class="dz-meta">
											<ul>
												<li class="post-author text-primary">
													<span>
														<i class="fa-solid fa-user"></i>
													</span>
													By Kk Sharma</li>
												<li class="post-date text-primary">
													<span>
														<i class="fa-solid fa-message"></i>
													</span>
												24 Comments</li>
											</ul>
										</div>
										<h5 class="dz-title"><a>Things That Make You Love Cryptocurrency</a></h5>
										<p>A wonderful serenity has taken of my entire soul, like these.</p>
										<a href="{% url 'blog' %}" class="btn btn-primary">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Comment List -->
						<div class="clear" id="comment-list">
							<div class="comments-area" id="comments">
								<div class="widget-title style-1">
									<h4 class="title">Comments</h4>
								</div>
								<div class="clearfix">
									<!-- comment list END -->
									<ol class="comment-list">
										<li class="comment">
											<div class="comment-body">
												<div class="comment-author vcard"> 
													<img  class="avatar photo" src="{% static 'assets/images/d3.jpg' %}" alt="">
													<cite class="fn">Celesto Anderson</cite>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												<div class="reply"> 
													<a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
												</div>
											</div>
											<ol class="children">
												<li class="comment odd parent">
													<div class="comment-body">
														<div class="comment-author vcard"> 
															<img  class="avatar photo" src="{% static 'assets/images/d4.jpg' %}" alt="">
															<cite class="fn">Jake Johnson</cite>
														</div>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
														<div class="reply"> 
															<a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
														</div>
													</div>
													<!-- list END -->
												</li>
											</ol>
											<!-- list END -->
										</li>
										<li class="comment">
											<div class="comment-body">
												<div class="comment-author vcard"> 
													<img  class="avatar photo" src="{% static 'assets/images/d5.jpg' %}" alt="">
													<cite class="fn">John Doe</cite> 
												</div>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												<div class="reply"> 
													<a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
												</div>
											</div>
										</li>
										<li class="comment">
											<div class="comment-body">
												<div class="comment-author vcard"> 
													<img  class="avatar photo" src="{% static 'assets/images/d6.jpg' %}" alt="">
													<cite class="fn">Celesto Anderson</cite> 
												</div>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												<div class="reply"> 
													<a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
												</div>
											</div>
										</li>
									</ol>
									<!-- comment list END -->

									<!-- Form -->
									<div class="comment-respond" id="respond">
										<div class="widget-title style-1">
											<h4 class="title" id="reply-title">Leave Your Comment
												<small><a style="display:none;" href="" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a></small>
											</h4>
										</div>
										<form class="comment-form" id="commentform" method="post">
											<p class="comment-form-author">
												<label for="author">Name <span class="required">*</span></label>
												<input type="text" name="Author"  placeholder="Author" id="author">
											</p>
											<p class="comment-form-email">
												<label for="email">Email <span class="required">*</span></label>
												<input type="text" placeholder="Email" name="email" id="email">
											</p>
											<p class="comment-form-comment">
												<label for="comment">Comment</label>
												<textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
											</p>

										</form>
									</div>
									<!-- Form -->
								</div>
							</div>
						</div>
						
					</div>
					<div class="col-xl-4 col-lg-4">
						<aside class="side-bar sticky-top right">
							<div class="widget">
								<div class="widget-title">
									<h4 class="title">Search</h4>
								</div>
								<div class="search-bx">
									<form role="search" method="post">
										<div class="input-group">
												<input name="text" class="form-control style-1" placeholder="Search.." type="text">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary sharp radius-no"><i class="fa-solid fa-magnifying-glass scale3"></i></button>
											</span>
										</div>
									</form>
								</div>
							</div>

							<div class="widget widget_categories">
								<div class="widget-title">
									<h4 class="title">Categories</h4>
								</div>
								<ul>
									<li class="cat-item"><a href="#">business(10)</a></li>
									<li class="cat-item"><a href="#">Case Study (13)</a></li>
									<li class="cat-item"><a href="#">Insights (9)</a></li>
									<li class="cat-item"><a href="#">World (3)</a></li>
									<li class="cat-item"><a href="#">Tax Solutions (12)</a></li>
									<li class="cat-item"><a href="#">Creative (6)</a></li>
								</ul>
							</div>

							<div class="widget recent-posts-entry">
								<div class="widget-title">
									<h4 class="title">Recent Post</h4>
								</div>
								<div class="widget-post-bx">
									<div class="widget-post clearfix">
										<div class="dz-media">
											<img src="{% static 'assets/images/pic1.jpg' %}" alt="">
										</div>
										<div class="dz-info">
											<h6 class="title"><a href="{% url 'blog' %}">Things That Make You Love Cryptocurrency</a></h6>
											<div class="dz-meta">
												<ul>
													<li class="post-date"><a href="javascript:void(0);"> 17 May 2022</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dz-media">
											<img src="{% static 'assets/images/pic2.jpg' %}" alt="">
										</div>
										<div class="dz-info">
											<h6 class="title"><a href="{% url 'blog' %}">7 Ingenious Ways You Can Do With Cryptocurrency.</a></h6>
											<div class="dz-meta">
												<ul>
													<li class="post-date"><a href="javascript:void(0);"> 07 Jan, 2022</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dz-media">
											<img src="{% static 'assets/images/pic3.jpg' %}" alt="">
										</div>
										<div class="dz-info">
											<h6 class="title"><a href="{% url 'blog' %}">14 Days To A Better Crypto Currency.</a></h6>
											<div class="dz-meta">
												<ul>
													<li class="post-date"><a href="javascript:void(0);"> 25 Aug, 2022</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="widget widget_tag_cloud">
								<div class="widget-title">
									<h4 class="title">Popular Tags</h4>
								</div>
								<div class="tagcloud">
									<a href="javascript:void(0);">Business</a>
									<a href="javascript:void(0);">Corporate</a>
									<a href="javascript:void(0);">Blog</a>
									<a href="javascript:void(0);">Marketing</a>
									<a href="javascript:void(0);">Creative</a>
									<a href="javascript:void(0);">Web</a>
									<a href="javascript:void(0);">Workers</a>
									<a href="javascript:void(0);">Modern</a>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<ul class="dz-shape-2">
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
			</ul>
		</section>
		<!-- Blog Details -->
	</div>
	


	<!-- Footer -->
    <footer class="site-footer style-1 position-relative">
		<div class="footer-top overlay-black-dark-dark-dark" style="background-image:url({% static 'assets/images/banner/bnr.jpg' %});">
			<div class="container">
				<div class="footer-subscribe-wrapper">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="widget wow fadeInUp" data-wow-delay="0.4s">
								<div class="footer-logo">
									<a href="index.html" class="logo-light"><img src="{% static 'assets/images/WT1.png' %}" alt=""></a>
								</div>
								<p>Gate Future Labs Pvt. Ltd. is a Rapidly Growing Best-in-Class Value Innovation Company.</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="widget  wow fadeInUp" data-wow-delay="0.6s">
								<h4 class="footer-title mb-3 ">Subscribe To Our Newsletter</h4>
								<form class="dzSubscribe ft-subscribe mb-4" action="assets/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group mb-0">
										<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary two"><i class="fa-regular fa-paper-plane"></i></button>
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row p-50">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="widget wow fadeInUp" data-wow-delay="0.8s">
							<h4 style="text-align:left;margin-left:15%;"  class="footer-title">Contact</h4>
							<div class="widget_getintuch">
								<ul>
									<li style="text-align:left;" >
										<i class="fa-solid fa-location-dot"></i>
										3rd Main HAL 3rd Stage,<br>Old Airport Road Bangalore <br> KA 560017 IN

									</li>
									<li style="text-align:left;" >
										<i class="fa-brands fa-whatsapp"></i>
										+(91) 720 409 1622<br>
									</li>
									<li style="text-align:left;">
										<i class="fa-solid fa-inbox"></i>
										gatetrader.com<br>
										gatefuturelabs.com
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.0s">
							<h4 class="footer-title">Our links</h4>
							<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us </a></li>
								<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
								<li><a href="{% url 'blog' %}">Blog</a></li>
								<li><a href="{% url 'join' %}">Join Our Team</a></li>
							</ul>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title">Other links</h4>
							<ul>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="https://gatefuturelabs.zohorecruit.in/careers">Careers</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
								<li><a href="{% url 'terms' %}">Terms & Condition</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title"></h4>
							<a href="http://www.gatetrader.com" ><img  class="" src="{% static 'assets/images/trp3.png' %}" style="margin-right:11%;height:75px;" ></a><br><br>
							<img class="" src="{% static 'assets/images/iso.png' %}" style="margin-left:8%;height:60px;"  >
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom text-md-center text-md-center">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-start text-center ">
							<p class="copyright-text wow fadeInUp" data-wow-delay="1.6s">Copyright 2024 by <a class="text-primary" href="http://gatefuturelabs.com/" target="_blank">GateFutureLabs</a>. All rights Reserved</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-end  text-center">
							<ul class="footer-link wow fadeInUp" data-wow-delay="1.8s">
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'contact' %}">Help Desk</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="dz-shape-2">
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
		</ul>
	</footer>
    <!-- Footer End -->

	<button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/js/anm.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/vendor/wow/wow.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- OWL silder -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'assets/vendor/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/vendor/apexchart/js/apexcharts.min.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.ajax.js' %}"></script><!-- AJAX -->
<script src="{% static 'assets/js/chart-init.js' %}"></script><!-- Chart Init -->
<script src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM JS -->

<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "siq0a2c55ded5a61f3c599bb72a29265b2b44a84239ac339327c2c647f2f92e53a3", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zohopublic.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
</body>
</html>