{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNK27VZ5RF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNK27VZ5RF');
</script>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="GATE_Future_Labs,Vr_trading,algo_trading_brainwave,vr_reality,value_innovation">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="GATE Future Labs Website">
	<meta property="og:title" content="GATE Future Labs Website">
	<meta property="og:description" content="GATE Future Website">
	<meta property="og:image" content="https://gate.future.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title -->
	<title>Gate Future Labs, A Value Innovation Company</title>

	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon8.png' %}">

	<!-- Stylesheet -->
	<link href="{% static 'assets/vendor/animate/animate.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

	<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" href="{% static 'assets/css/skin/skin-1.css' %}">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' %}" rel="stylesheet">

</head>
<body id="bg" data-anm=".anm">

<!--loader start -->
<div id="loading-area" class="loading-page-1">
	<div class="loader">
		<div class="loading-dot"></div>
	</div>
</div>
<!--loader start -->





<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/js/anm.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/vendor/wow/wow.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- OWL silder -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'assets/vendor/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/vendor/apexchart/js/apexcharts.min.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.ajax.js' %}"></script><!-- AJAX -->
<script src="{% static 'assets/js/chart-init.js' %}"></script><!-- Chart Init -->
<script src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM JS -->

</html>

{% endblock content %}
