{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNK27VZ5RF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNK27VZ5RF');
</script>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="GATE_Future_Labs,Vr_trading,algo_trading_brainwave,vr_reality,value_innovation">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="GATE Future Labs Website">
	<meta property="og:title" content="GATE Future Labs Website">
	<meta property="og:description" content="GATE Future Website">
	<meta property="og:image" content="https://gate.future.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title -->
	<title>Gate Future Labs, A Value Innovation Company</title>

	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon8.png' %}">

	<!-- Stylesheet -->
	<link href="{% static 'assets/vendor/animate/animate.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

	<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" href="{% static 'assets/css/skin/skin-1.css' %}">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body id="bg" data-anm=".anm">

<!--loader start -->
<div id="loading-area" class="loading-page-1">
	<div class="loader">
		<div class="loading-dot"></div>
	</div>
</div>
<!--loader start -->

<div class="page-wraper">

<!-- Header -->
	<header class="site-header mo-left header header-transparent">
		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg">
			<div class="main-bar clearfix ">
				<div class="container clearfix">

					<!-- Website Logo -->
					<div class="logo-header">
						<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
						<a href="{% url 'index' %}" class="logo-dark"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
					</div>

					<!-- Nav Toggle Button -->
					<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<!-- Extra Nav -->
					<div class="extra-nav">
						<div class="extra-cell">
							<a class="btn btn-outline-light btn-lg text-light" target="_blank" href="">Login</a>
							<a class="btn btn-primary btn-lg btn-shadow" target="_blank" href="">Register</a>
						</div>
					</div>


					<!-- Header Nav -->
					<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<div class="logo-header">
							<a href="{% url 'index' %}" class="logo-dark"><img src="{% static 'https://gatefuturelabs.com/static/assets/images/lg1.png' %}" alt=""></a>
						</div>
						<ul class="nav navbar-nav navbar navbar-left">
							<li><a style="color:#3090c7;" href="{% url 'index' %}"><b>Home</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'about' %}"><b>About Us</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'subscribe' %}"><b>Subscribe</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'blog' %}"><b>Blog</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'join' %}"> <b>Join Our Team</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'contact' %}"><b>Contact Us</b></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->
	</header>
	<!-- Header End -->


  <!-- Banner  -->
		<div class="dz-bnr-inr dz-bnr-inr-sm text-center position-relative overlay-black-dark" style="background-image:url({% static 'assets/images/banner/bnr2.jpg' %});">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>Blog</h1>
					<!-- Breadcrumb Row -->
					<nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Blog</li>
						</ul>
					</nav>
					<!-- Breadcrumb Row End -->
				</div>
			</div>
			<svg  class="shape1" viewBox="0 0 282 171" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M126.783 58.9324C99.4861 4.33881 30.8873 -2.17317 0 1.39504V171.666L282 172C282 125.502 226.135 133.53 196.698 130.185C148.794 128.312 135.034 72.9822 126.783 58.9324Z" fill="var(--primary)"/>
			</svg>
			<svg class="shape2" viewBox="0 0 198 342" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M77.0989 212.77C4.94983 240.593 -3.65619 310.516 1.05944 342L199.558 342L200 -8.74228e-06C138.549 -6.05619e-06 149.16 97.8604 144.739 127.866C142.263 176.694 95.6667 204.359 77.0989 212.77Z" fill="var(--primary)"/>
			</svg>
			<svg class="shape3" viewBox="0 0 93 78" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M31.7243 33.8972C9.47383 37.2 1.30374 12.6752 0 0H93V77.5724C78.8762 75.8341 74.7477 66.7079 71.271 58.0164C67.7944 49.3248 59.5374 29.7687 31.7243 33.8972Z" fill="var(--primary)"/>
			</svg>
			<ul class="dz-shape">
				<li>
					<svg width="40" height="40" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="40" height="40" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="35" height="35" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
			</ul>
		</div>
		<!-- Banner End -->

		<section class="content-inner-1 bg-light-purple position-relative">
<h1 style="text-align:center;font-size:120%;color:Grey;"><b>AI Powered News Portal Coming Soon!!!</b></h1>
<br>
			<div class="section-head  text-center">
					<h2 class="title wow fadeInUp" data-wow-delay="0.6s">Latest News & Blog</h2>
					<p class="text wow fadeInUp" data-wow-delay="0.8s">Last Updated: 28 Mar 2024</p>
				</div>
		   			<div class="row">
                    <div class="col-xl-4">
						<div class="row">
							<div>
								<div>
									<div>
										<div>
											<div class="text-center">
											</div>
											<!-- Modal -->
											<div class="modal fade" id="sendMessageModal">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title">Send Message</h5>
															<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
														</div>
														<div class="modal-body">
															<form class="comment-form">
																<div class="row">
																	<div class="col-lg-6">
																		<div class="mb-3">
																			<label class="text-black font-w600 form-label">Name <span class="required">*</span></label>
																			<input type="text" class="form-control" value="Author" name="Author" placeholder="Author">
																		</div>
																	</div>
																	<div class="col-lg-6">
																		<div class="mb-3">
																			<label class="text-black font-w600 form-label">Email <span class="required">*</span></label>
																			<input type="text" class="form-control" value="Email" placeholder="Email" name="Email">
																		</div>
																	</div>
																	<div class="col-lg-12">
																		<div class="mb-3">
																			<label class="text-black font-w600 form-label">Comment</label>
																			<textarea rows="8" class="form-control" name="comment" placeholder="Comment"></textarea>
																		</div>
																	</div>
																	<div class="col-lg-12">
																		<div class="mb-3 mb-0">
																			<input type="submit" value="Post Comment" class="submit btn btn-primary" name="submit">
																		</div>
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div style="margin-left:12%;" class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="profile-blog">
											<h5 class="text-primary d-inline"><b>Today Highlights</b></h5>
											<img src="{% static 'assets/images/tr5.jpg' %}" alt="" class="img-fluid mt-4 mb-4 w-100">
											<h4><a class="text-black">Tech Innovations: Shaping the Future</a></h4>
											<p class="mb-0">Explore the latest technological breakthroughs reshaping industries and transforming lives. From artificial intelligence to blockchain, discover how cutting-edge innovations are revolutionizing the world we live in.</p>
										</div>
									</div>
								</div>
							</div>
							<div style="margin-left:12%;" class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="profile-interest">
											<h5 class="text-primary d-inline"><b>Interest</b></h5>
											<div class="row mt-4 sp4" id="lightgallery">
												<a  data-exthumbimage="images/profile/2.jpg" data-src="images/profile/2.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
													<img src="{% static 'assets/images/5.jpg' %}" alt="" class="img-fluid">
												</a>
												<a  data-exthumbimage="images/profile/3.jpg" data-src="images/profile/3.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
													<img src="{% static 'assets/images/3.jpg' %}" alt="" class="img-fluid">
												</a>
												<a href="images/profile/4.jpg" data-exthumbimage="images/profile/4.jpg" data-src="images/profile/4.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
													<img src="{% static 'assets/images/4.jpg' %}" alt="" class="img-fluid">
												</a>
												<a data-exthumbimage="images/profile/3.jpg" data-src="images/profile/3.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
													<img src="{% static 'assets/images/3.jpg' %}" alt="" class="img-fluid">
												</a>
												<a data-exthumbimage="images/profile/4.jpg" data-src="images/profile/4.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
													<img src="{% static 'assets/images/4.jpg' %}" alt="" class="img-fluid">
												</a>
												<a  data-exthumbimage="images/profile/2.jpg" data-src="images/profile/2.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
													<img src="{% static 'assets/images/5.jpg' %}" alt="" class="img-fluid">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div style="margin-left:12%;" class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="profile-news">
    <h5 class="text-primary d-inline"><b>Latest Technology and Trading News</b></h5>
    <div class="media pt-3 pb-3">
        <img style="margin-left:5%;" src="{% static 'assets/images/22.jpg' %}" alt="image" class="me-3 rounded" width="75">
        <div class="media-body">
            <h5 class="m-b-5"><a class="text-black"><b>New AI-driven Trading Algorithm Unveiled</b></a></h5>
            <p class="mb-0">A cutting-edge AI algorithm promises to revolutionize trading strategies.</p>
        </div>
    </div>
    <div class="media pt-3 pb-3">
        <img style="margin-left:5%;" src="{% static 'assets/images/23.jpg' %}" alt="image" class="me-3 rounded" width="75">
        <div class="media-body">
            <h5 class="m-b-5"><a class="text-black"><b>5G Technology Set to Transform Digital Landscape</b></a></h5>
            <p class="mb-0">The advent of 5G technology is expected to bring about significant changes in various industries.</p>
        </div>
    </div>
    <div class="media pt-3 pb-3">
        <img style="margin-left:5%;" src="{% static 'assets/images/24.jpg' %}" alt="image" class="me-3 rounded" width="75">
        <div class="media-body">
            <h5 class="m-b-5"><a class="text-black"><b>Blockchain Technology Gains Traction in Financial Markets</b></a></h5>
            <p class="mb-0">Blockchain applications are increasingly being adopted by financial institutions for enhanced security and transparency.</p>
        </div>
    </div>
</div>

									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div style="margin-left:3%;"   class="col-xl-7">
                        <div class="card h-auto">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <div class="tab-content">
                                            <div id="my-posts" class="tab-pane fade active show">
                                                <div class="my-post-content pt-3">
                                                    <div class="post-input">
														<!-- Modal -->
														<div class="modal fade" id="linkModal">
															<div class="modal-dialog modal-dialog-centered" role="document">
																<div class="modal-content">

																	<div class="modal-body">
																		<a class="btn-social facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
																		<a class="btn-social google-plus" href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
																		<a class="btn-social linkedin" href="javascript:void(0)" ><i class="fab fa-linkedin"></i></a>
																		<a class="btn-social instagram" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
																		<a class="btn-social twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
																		<a class="btn-social youtube" href="javascript:void(0)"><i class="fab fa-youtube"></i></a>
																		<a class="btn-social whatsapp" href="javascript:void(0)"><i class="fab fa-whatsapp"></i></a>
																	</div>
																</div>
															</div>
														</div>

														<!-- Modal -->
														<!-- Modal -->
														<div class="modal fade" id="postModal">
															<div class="modal-dialog modal-dialog-centered" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title">Post</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal">
																		</button>
																	</div>
																	<div class="modal-body">
																		 <textarea name="textarea" id="textarea2" cols="30" rows="5" class="form-control bg-transparent" placeholder="Please type what you want...."></textarea>
																		 <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Post</a>
																	</div>
																</div>
															</div>
														</div>
                                                    </div>
                                                    <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                                        <img src="{% static 'assets/images/tr4.jpeg' %}" alt="" class="img-fluid w-100 rounded">
														<a class="post-title" ><h3 class="text-black"><b>Microsoft Unveils AI-Powered Productivity Tools</b></h3></a>
                                                        <p>Microsoft introduced a suite of AI-powered productivity tools designed to streamline workflow and enhance collaboration in the workplace. The new features leverage machine learning algorithms to automate repetitive tasks, provide intelligent insights, and facilitate seamless communication across teams. By integrating AI into its productivity software, Microsoft aims to empower users to work more efficiently and creatively, driving productivity gains in organizations of all sizes.</p>
                                                        <button class="btn btn-primary me-2"><span class="me-2"><i
                                                                    class="fa fa-heart"></i></span>Like</button>
                                                        <button class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#replyModal"><span class="me-2"><i
                                                                    class="fa fa-reply"></i></span>Reply</button>
                                                    </div>
                                                    <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                                        <img src="{% static 'assets/images/tr2.jpg' %}" alt="" class="img-fluid w-100 rounded">
														<a class="post-title" ><h3 class="text-black"><b>Market Volatility Continues Amid Global Uncertainty</b></h3></a>
                                                        <p>Stock markets experienced another week of turbulence as geopolitical tensions and concerns about inflation weighed heavily on investor sentiment. The ongoing conflict in [region] and uncertainty surrounding central bank policies added to the volatility, with major indices experiencing significant swings throughout the trading sessions.</p>
                                                        <button class="btn btn-primary me-2"><span class="me-2"><i
                                                                    class="fa fa-heart"></i></span>Like</button>
                                                        <button class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#replyModal"><span class="me-2"><i
                                                                    class="fa fa-reply"></i></span>Reply</button>
                                                    </div>
                                                    <div class="profile-uoloaded-post pb-3">
                                                        <img src="{% static 'assets/images/tr1.jpeg' %}" alt="" class="img-fluid w-100 rounded">
														<a class="post-title"> <h3 class="text-black"><b>Energy Stocks Slump Amid Oil Price Volatility</b></h3></a>
                                                        <p>Energy stocks faced headwinds as oil prices fluctuated sharply due to geopolitical tensions and concerns about supply disruptions. Uncertainty over the future of global energy markets and the impact of sanctions on major oil-producing countries contributed to the sell-off in energy equities. Despite efforts by oil-producing nations to stabilize prices, investors remained cautious about the sector's outlook.</p>
                                                        <button class="btn btn-primary me-2"><span class="me-2"><i
                                                                    class="fa fa-heart"></i></span>Like</button>
                                                        <button class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#replyModal"><span class="me-2"><i
                                                                    class="fa fa-reply"></i></span>Reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="about-me" class="tab-pane fade">
                                                <div class="profile-about-me">
                                                    <div class="pt-4 border-bottom-1 pb-3">
                                                        <h4 class="text-primary">About Me</h4>
                                                        <p class="mb-2">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence was created for the bliss of souls like mine.I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                                                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                                                    </div>
                                                </div>
                                                <div class="profile-skills mb-5">
                                                    <h4 class="text-primary mb-2">Skills</h4>
                                                    <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Admin</a>
                                                    <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Dashboard</a>
                                                    <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Photoshop</a>
                                                    <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Bootstrap</a>
                                                    <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Responsive</a>
                                                    <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Crypto</a>
                                                </div>
                                                <div class="profile-lang  mb-5">
                                                    <h4 class="text-primary mb-2">Language</h4>
													<a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-us"></i> English</a>
													<a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-fr"></i> French</a>
                                                    <a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-bd"></i> Bangla</a>
                                                </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>

		          </section>
<br><br>
	<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 m-b30">
						<div class="row">
							<div class="col-lg-12 m-b20">
								<div class="widget-box style-1 bg-light-purple wow bounceInLeft" data-wow-delay="1.2s">
									<div class="dz-media">
										<img src="{% static 'assets/images/pic1.jpg' %}" alt="">
									</div>
									<div class="dz-info">
										<span class="date"><a href="javascript:void(0)">14 Feb 2022</a></span>
										<h6 class="title"><a>Vestibulum massa arcu,consectetu.</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-12 m-b20">
								<div class="widget-box style-1 bg-light-purple wow bounceInLeft" data-wow-delay="1.4s">
									<div class="dz-media">
										<img src="{% static 'assets/images/pic2.jpg' %}" alt="">
									</div>
									<div class="dz-info">
										<span class="date"><a href="javascript:void(0)">17 Aug 2019</a></span>
										<h6 class="title"><a>Things That Make You Love Cryptocurrency</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-12 m-b20">
								<div class="widget-box style-1 bg-light-purple wow bounceInLeft" data-wow-delay="1.6s">
									<div class="dz-media">
										<img src="{% static 'assets/images/pic3.jpg' %}" alt="">
									</div>
									<div class="dz-info">
										<span class="date"><a href="javascript:void(0)">15 feb 2021</a></span>
										<h6 class="title"><a href="blog-details.html">7 Ingenious Ways You Can Do With Cryptocurrency.</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-12 m-b20">
								<div class="widget-box style-1 bg-light-purple wow bounceInLeft" data-wow-delay="1.8s">
									<div class="dz-media">
										<img src="{% static 'assets/images/pic4.jpg' %}" alt="">
									</div>
									<div class="dz-info">
										<span class="date"><a href="javascript:void(0)">20 Jun 2020</a></span>
										<h6 class="title"><a>14 Days To A Better Crypto Currency.</a></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 m-b30">
						<div class="dz-card style-1  wow fadeInUp" data-wow-delay="1.0s">
							<div class="dz-media">
								<a ><img src="{% static 'assets/images/pic8.jpg' %}" alt=""></a>
								<span class="date"><a href="javascript:void(0)">14 Fan 2022</a></span>
							</div>
							<div class="dz-info bg-light-purple">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
										24 Comments</li>
									</ul>
								</div>
								<h4 class="dz-title"><a>Things That Make You Love Cryptocurrency</a></h4>
								<p>A wonderful serenity has taken of my entire soul, like these.</p>
								<a href="{% url 'details' %}" class="btn btn-primary">VIEW POST</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 m-b30">
						<div class="row">
							<div class="col-lg-12 m-b20">
								<div class="widget-box style-1 bg-light-purple wow bounceInRight" data-wow-delay="1.2s">
									<div class="dz-media">
										<img src="{% static 'assets/images/pic2.jpg' %}" alt="">
									</div>
									<div class="dz-info">
										<span class="date"><a href="javascript:void(0)">17 Aug 2019</a></span>
										<h6 class="title"><a>Things That Make You Love Cryptocurrency</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-12 m-b20">
								<div class="widget-box style-1 bg-light-purple wow bounceInRight" data-wow-delay="1.4s">
									<div class="dz-media">
										<img src="{% static 'assets/images/pic4.jpg' %}" alt="">
									</div>
									<div class="dz-info">
										<span class="date"><a href="javascript:void(0)">20 Jun 2020</a></span>
										<h6 class="title"><a>14 Days To A Better Crypto Currency.</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-12 m-b20">
								<div class="widget-box style-1 bg-light-purple wow bounceInRight" data-wow-delay="1.6s">
									<div class="dz-media">
										<img src="{% static 'assets/images/pic1.jpg' %}" alt="">
									</div>
									<div class="dz-info">
										<span class="date"><a href="javascript:void(0)">14 Feb 2022</a></span>
										<h6 class="title"><a>Vestibulum massa arcu,consectetu.</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-12 m-b20">
								<div class="widget-box style-1 bg-light-purple wow bounceInRight" data-wow-delay="1.8s">
									<div class="dz-media">
										<img src="{% static 'assets/images/pic3.jpg' %}" alt="">
									</div>
									<div class="dz-info">
										<span class="date"><a href="javascript:void(0)">15 feb 2021</a></span>
										<h6 class="title"><a>7 Ingenious Ways You Can Do With Cryptocurrency.</a></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<ul class="dz-shape-2">
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
			</ul>
		</section>

<br>
<br>

		<!-- Banner End -->
<br>
		<!-- Blog Grid Starts -->
		<section class="content-inner-1 bg-grey position-relative">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-md-6  m-b30">
						<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
							<div class="dz-media">
								<a><img src="{% static 'assets/images/pic11.jpg' %}" alt=""></a>
								<span class="date"><a href="javascript:void(0)">14 Feb 2012</a></span>
							</div>
							<div class="dz-info bg-light-purple">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
										24 Comments</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="{% url 'details' %}">Vestibulum massa arcu,  consectetu.</a></h4>
								<p>A wonderful serenity has taken of my entire soul, like these.</p>
								<a href="{% url 'details' %}" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6  m-b30">
						<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.2s">
							<div class="dz-media">
								<a><img src="{% static 'assets/images/pic22.jpg' %}" alt=""></a>
								<span class="date"><a href="javascript:void(0)">18 Jun 2020</a></span>
							</div>
							<div class="dz-info bg-light-purple">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
										24 Comments</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="{% url 'details' %}">7 Ingenious Ways You Can Do With Crypto</a></h4>
								<p>A wonderful serenity has taken of my entire soul, like these.</p>
								<a href="{% url 'details' %}" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6  m-b30">
						<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.4s">
							<div class="dz-media">
								<a><img src="{% static 'assets/images/pic33.jpg' %}" alt=""></a>
								<span class="date"><a href="javascript:void(0)">22 Aug 2018</a></span>
							</div>
							<div class="dz-info bg-light-purple">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
										24 Comments</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="{% url 'details' %}">14 Days To A Better Crypto Currency</a></h4>
								<p>A wonderful serenity has taken of my entire soul, like these.</p>
								<a href="{% url 'details' %}" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6  m-b30">
						<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="0.6s">
							<div class="dz-media">
								<a ><img src="{% static 'assets/images/pic44.jpg' %}" alt=""></a>
								<span class="date"><a href="javascript:void(0)">25 Sep 2015</a></span>
							</div>
							<div class="dz-info bg-light-purple">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
										24 Comments</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="{% url 'details' %}">Why You Should Not  Cryptocurrency.</a></h4>
								<p>A wonderful serenity has taken of my entire soul, like these.</p>
								<a href="{% url 'details' %}" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6  m-b30">
						<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="0.8s">
							<div class="dz-media">
								<a><img src="{% static 'assets/images/pic55.jpg' %}" alt=""></a>
								<span class="date"><a href="javascript:void(0)">26 May 2012</a></span>
							</div>
							<div class="dz-info bg-light-purple">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
										24 Comments</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="{% url 'details' %}">7 Ingenious Ways You Can Do With Crypto</a></h4>
								<p>A wonderful serenity has taken of my entire soul, like these.</p>
								<a href="{% url 'details' %}" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6  m-b30">
						<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
							<div class="dz-media">
								<a><img src="{% static 'assets/images/pic66.jpg' %}" alt=""></a>
								<span class="date"><a href="javascript:void(0)">18 Mar 2010</a></span>
							</div>
							<div class="dz-info bg-light-purple">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
										24 Comments</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="{% url 'details' %}">14 Days To A Better Crypto Currency.</a></h4>
								<p>A wonderful serenity has taken of my entire soul, like these.</p>
								<a href="{% url 'details' %}
" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10">
						<nav aria-label="Blog Pagination">
							<ul class="pagination style-1 text-center  wow fadeInUp" data-wow-delay="0.8s">
								<li class="page-item"><a class="page-link prev" href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a></li>
								<li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
								<li class="page-item"><a class="page-link next" href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<ul class="dz-shape-2">
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
			</ul>

		</section>
		<!-- blog grid code starts from here -->

	</div>


 		<!-- Footer -->

   <footer class="site-footer style-1 position-relative">
		<div class="footer-top overlay-black-dark-dark" style="background-image:url('assets/images/ft5.png');">
			<div class="container">
				<div class="footer-subscribe-wrapper">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="widget wow fadeInUp" data-wow-delay="0.4s">
								<div class="footer-logo">
									<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'assets/images/WT1.png' %}" style="text-align:left;margin-right:60%;" alt=""> </a>
								</div>
								<p style="text-align:left;margin-left:1%;" > GATE FUTURE LABS PVT LTD is a rapidly growing best-in-class Value Innovation company</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="widget  wow fadeInUp" data-wow-delay="0.6s">
								<h4 class="footer-title mb-3 ">Subscribe To Our Newsletter</h4>
								<form class="dzSubscribe ft-subscribe mb-4" action="assets/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group mb-0">
										<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary two"><i class="fa-regular fa-paper-plane"></i></button>
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row p-50">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="widget wow fadeInUp" data-wow-delay="0.8s">
							<h4 style="text-align:left;margin-left:15%;"  class="footer-title">Contact</h4>
							<div class="widget_getintuch">
								<ul>
									<li style="text-align:left;" >
										<i class="fa-solid fa-location-dot"></i>
										3rd Main HAL 3rd Stage,<br>Old Airport Road Bangalore <br> KA 560017 IN

									</li>
									<li style="text-align:left;" >
										<i class="fa-brands fa-whatsapp"></i>
										+(91) 720 409 1622<br>
									</li>
									<li style="text-align:left;">
										<i class="fa-solid fa-inbox"></i>
										gatetrader.com<br>
										gatefuturelabs.com
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.0s">
							<h4 class="footer-title">Our links</h4>
							<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us </a></li>
								<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
								<li><a href="{% url 'blog' %}">Blog</a></li>
								<li><a href="{% url 'join' %}">Join Our Team</a></li>
							</ul>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title">Other links</h4>
							<ul>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="https://gatefuturelabs.zohorecruit.in/careers">Careers</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
								<li><a href="{% url 'terms' %}">Terms & Condition</a></li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title"></h4>
							<a href="http://www.gatetrader.com" ><img class="" src="{% static 'assets/images/trp3.png' %}" style="margin-right:11%;height:75px;align:bottom;"  ></a> <br><br><br><br>
							<img class="" src="{% static 'assets/images/iso.png' %}" style="margin-right:55%;height:60px;"  >
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom text-md-center text-md-center">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-start text-center ">
							<p class="copyright-text wow fadeInUp" data-wow-delay="1.6s">Copyright 2023 by <a class="text-primary" href="" target="_blank">GateFutureLabs</a>.com All rights Reserved</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-end  text-center">
							<ul class="footer-link wow fadeInUp" data-wow-delay="1.8s">
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'contact' %}">Help Desk</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="dz-shape-2">
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
		</ul>
	</footer>
    <!-- Footer End -->

</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/js/anm.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/vendor/wow/wow.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- OWL silder -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.ajax.js' %}"></script><!-- AJAX -->
<script src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM JS -->

<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "siq0a2c55ded5a61f3c599bb72a29265b2b44a84239ac339327c2c647f2f92e53a3", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zohopublic.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
</body>
</html>