{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNK27VZ5RF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNK27VZ5RF');
</script>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="GATE_Future_Labs,Vr_trading,algo_trading_brainwave,vr_reality,value_innovation">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="GATE Future Labs Website">
	<meta property="og:title" content="GATE Future Labs Website">
	<meta property="og:description" content="GATE Future Website">
	<meta property="og:image" content="https://gate.future.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title -->
	<title>Gate Future Labs, A Value Innovation Company</title>

	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon8.png' %}">

	<!-- Stylesheet -->
	<link href="{% static 'assets/vendor/animate/animate.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

	<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" href="{% static 'assets/css/skin/skin-1.css' %}">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' %}" rel="stylesheet">

</head>
<body id="bg" data-anm=".anm">

<!--loader start -->
<div id="loading-area" class="loading-page-1">
	<div class="loader">
		<div class="loading-dot"></div>
	</div>
</div>
<!--loader start -->

<div class="page-wraper">

	<!-- Header -->
	<header class="site-header mo-left header header-transparent">
		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg">
			<div class="main-bar clearfix ">
				<div class="container clearfix">

					<!-- Website Logo -->
					<div class="logo-header">
						<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
						<a href="{% url 'index' %}" class="logo-dark"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
					</div>

					<!-- Nav Toggle Button -->
					<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<!-- Extra Nav -->
					<div class="extra-nav">
						<div class="extra-cell">
							<a  class="btn btn-outline-light btn-lg text-light" target="_blank" ><b>Login</b></a>
							<a  class="btn btn-primary btn-lg btn-shadow" target="_blank" ><b>Register</b></a>
						</div>
					</div>

					<!-- Header Nav -->
					<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<div class="logo-header">
							<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'https://gatefuturelabs.com/static/assets/images/lg1.png' %}" alt=""></a>
							<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'https://gatefuturelabs.com/static/assets/images/lg1.png' %}" alt=""></a>
						</div>
							<ul class="nav navbar-nav navbar navbar-left">
							<li><a style="color:#3090c7;"  href="{% url 'index' %}"><b>Home</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'about' %}"><b>About Us</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'subscribe' %}"><b>Subscribe</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'blog' %}"><b>Blog</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'join' %}"> <b>Join Our Team</b></a></li>
							</li>
							<li><a style="color:#3090c7;" href="{% url 'contact' %}"><b>Contact Us</b></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->
	</header>
	<!-- Header End -->

		<style>

.container {

  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .centered23 {
  position: absolute;
  top: 10%;
  left: 13%;
  transform: translate(-50%, -50%);
}
  .centered24 {
  position: absolute;
  top: 15%;
  left: 27%;
  transform: translate(-50%, -50%);
}

  .centered25 {
  position: absolute;
  top: 13%;
  left: 75%;
  transform: translate(-50%, -50%);
}

  .centered26 {
  position: absolute;
  top: 48%;
  left: 27%;
  transform: translate(-50%, -50%);
}

  .centered27 {
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
}

  .centered28 {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}
  .centered29 {
  position: absolute;
  top: 90%;
  left: 20%;
  transform: translate(-50%, -50%);
}

  .centered30 {
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
}

</style>


 <img src="{% static 'assets/images/j255.png' %}"  alt="image" class="" style="width:1900px;height:400px;">>
	<div class="centered"><h1 style="font-align=center;color:white;font-size=200%;"><b>Join Our Team</b></h1></div><br>
<br>
	<br>
	<h4 style="color:black;font-size:250%;text-align:center;" data-wow-delay="0.6s"><b>Join with Us</b> <br> </h4>
						<p style="color:black;font-size:100%;margin-left:8%;margin-right:8%;">At Gate Future labs, we invite you to embark on a transformative journey towards innovation, growth, and success. By choosing to join forces with us, you are not just becoming a part of a team; you are embracing a community dedicated to pushing the boundaries of what's possible. Here's why you should consider joining us...</p>
<br><br><br>
<section class="">


			 <footer class="site-footer style-1 position-relative">
		<div class="footer-top overlay-black-dark-dark" >
			<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							</div>
						</div>
			<div class="container">
				<div class="section-head text-center">
					<h4 style="color:White;font-size:250%;" data-wow-delay="0.6s"><b>Why to Join Gate Future Labs????</b> <br> </h4>
						<p style="color:black;font-size:100%;"></p>
					<br>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper style-2 text-center wow fadeInUp" data-wow-delay="0.8s" >
							<div class="icon-media">
								 <img src="{% static 'assets/images/jo11.jpg' %}">
							</div>
							<div class="icon-content">
								<h6 class="title"><b>Innovative Excellence</b></h6>
								<br>
								<h6 class="title">We're at the forefront of innovation, constantly exploring new horizons and pushing the envelope. When you join us, you'll be a part of a culture that thrives on creativity, exploration, and pioneering solutions</h6>

							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper style-2 text-center wow fadeInUp" data-wow-delay="1.0s" >
							<div class="icon-media">
								<img src="{% static 'assets/images/jo2.jpg' %}">
							</div>
							<div class="icon-content">
								<h6 class="title"><b>Collaborative Environment</b></h6>
								<br>
								<h6 class="title">We believe that the best results come from diverse minds working together. Our collaborative environment fosters the exchange of ideas, knowledge sharing</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper style-2 text-center wow fadeInUp" data-wow-delay="1.2s" >
							<div class="icon-media">
								<img src="{% static 'assets/images/jo3.jpg' %}">
							</div>
							<div class="icon-content">
								<h6 class="title"><b>Professional Growth</b></h6>
								<br>
								<h6 class="title">Your growth is our priority. We offer a dynamic and supportive ecosystem where you can develop your skills, take on challenges, and achieve your career aspirations.you're just starting journey</h6>

							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6  m-b30">
						<div class="icon-bx-wraper style-2 text-center wow fadeInUp" data-wow-delay="1.4s" >
							<div class="icon-media">
								<img src="{% static 'assets/images/jo4.jpg' %}">
							</div>
							<div class="icon-content">
								<h6 class="title"><b>Impactful Work</b></h6>
								<br>
								<h6 class="title">We're passionate about making a positive impact on the world. By joining us, you'll have the chance to work on projects and initiatives that truly matter, creating solutions that drive change and leave a lasting legacy</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper style-2 text-center wow fadeInUp" data-wow-delay="1.2s" >
							<div class="icon-media">
								<img src="{% static 'assets/images/jo6.jpg' %}">
							</div>
							<div class="icon-content">
								<h6 class="title"><b>Global Reach</b></h6>
								<br>
								<h6 class="title">Our influence extends far beyond borders. With a global reach, we offer you the chance to work on projects with international significance, collaborate with teams worldwide, and broaden your horizons</h6>

							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper style-2 text-center wow fadeInUp" data-wow-delay="1.2s" >
							<div class="icon-media">
								<img src="{% static 'assets/images/jo7.jpg' %}">
							</div>
							<div class="icon-content">
								<h6 class="title"><b>Empowering Culture</b></h6>
								<br>
								<h6 class="title">Our culture is built on trust, respect, and empowerment. We encourage our team members to take ownership, be leaders, and make a difference. Here, you'll have the freedom to excel and the support to thrive</h6>

							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper style-2 text-center wow fadeInUp" data-wow-delay="1.2s" >
							<div class="icon-media">
								<img src="{% static 'assets/images/jo8.jpg' %}">
							</div>
							<div class="icon-content">
								<h6 class="title"><b>Customer-Centric Approach</b></h6>
								<br>
								<h6 class="title">We are dedicated to our clients' success. Joining us means being a part of a team that is committed to delivering top-notch solutions, exceeding customer expectations, and building long-lasting relationships</h6>

							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper style-2 text-center wow fadeInUp" data-wow-delay="1.2s" >
							<div class="icon-media">
								<img src="{% static 'assets/images/jo9.jpg' %}">
							</div>
							<div class="icon-content">
								<h6 class="title"><b>Innovation at its Core</b></h6>
								<br>
								<h6 class="title">Innovation isn't just a buzzword; it's in our DNA. Our commitment to continuous improvement drives our success. By joining us, you'll be part of a culture that embraces change, adapts to challenges, and seizes opportunities</h6>

							</div>
						</div>
					</div>

				</div>
			</div>


				<ul class="dz-shape-2">
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
			</ul>
			</div>
				</div>
			</div>
		</div>
			</footer>
		</section>


<section class="content-inner bg-light-purple position-relative overflow-hidden" >
			<div class="container">
				<div class="row align-items-top">
					<div class="col-lg-6 m-b30 ">
						<div class="dz-media style-1  wow bounceInLeft" data-wow-delay="0.4s"><br><br>
							<img src="{% static 'assets/images/11.jpeg' %}" alt="image" class="rounded" style="height:420px;width:590px;margin-left:2%;margin-top:2%;">
						</div>
					</div>
					<div class="col-lg-6 m-b30">
						<div class="row justify-content-center text-lg-start text-md-top text-center">
							<div class="col-lg-4 col-md-4 col-sm-6 col-6 col m-b30 wow fadeInUp" data-wow-delay="1.0s">

							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-6 m-b30 wow fadeInUp" data-wow-delay="1.2s">

							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-6  m-b30 wow fadeInUp" data-wow-delay="1.4s">
							</div>
						</div><br>
						<div class="row">
							<div style="margin-left:10%;" class="col-lg-11 col-md-6">
								<div class="crypto-box style-2 wow bounceInRight" data-wow-delay="1.6s">
									<div class="crypto-text">
										<p style="color:black;text-align:left;font-size:15px;" class="text"><b>Employee Stock Option Plan (ESOP)</b><br>

Our ESOP program reflects our commitment to nurturing a motivated and engaged workforce, fostering a sense of ownership, and sharing the rewards of our collective success. We believe that by investing in our employees' future, we are also investing in the future of our company. Together, we can achieve remarkable milestones and build a prosperous future for all.</p>
									</div>
								</div>
							</div>
							<div style="margin-left:10%;" class="col-lg-11 col-md-6">
								<div class="crypto-box style-2  wow bounceInRight" data-wow-delay="1.8s">
									<div class="crypto-text">
										<p style="color:black;text-align:left;font-size:15px;" class="text">Are you ready to make a difference, push boundaries, and embark on a journey of growth and innovation?<br><br><b>Join us at Gate Future labs, where your potential meets limitless opportunities. Together, we'll create a brighter future</b><br><br>Send your CV to: <b>ceo@gatefuturelabs.com </b></p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

				<ul class="dz-shape-2">
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
			</ul>
		</section>

	<br>

<section>
	<a href="https://gatefuturelabs.zohorecruit.in/careers" ><h1 style="text-align:center;font-size:140%;color:Grey;" >Gate Future Lab Careers</h1></a>


</section>
<br><br><br>

 		<!-- Footer -->

   <footer class="site-footer style-1 position-relative">
		<div class="footer-top overlay-black-dark-dark" style="background-image:url('assets/images/ft5.png');">
			<div class="container">
				<div class="footer-subscribe-wrapper">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="widget wow fadeInUp" data-wow-delay="0.4s">
								<div class="footer-logo">
									<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'assets/images/WT1.png' %}" style="text-align:left;margin-right:60%;" alt=""> </a>
								</div>
								<p style="text-align:left;margin-left:1%;" > GATE FUTURE LABS PVT LTD is a rapidly growing best-in-class Value Innovation company</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="widget  wow fadeInUp" data-wow-delay="0.6s">
								<h4 class="footer-title mb-3 ">Subscribe To Our Newsletter</h4>
								<form class="dzSubscribe ft-subscribe mb-4" action="assets/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group mb-0">
										<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary two"><i class="fa-regular fa-paper-plane"></i></button>
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row p-50">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="widget wow fadeInUp" data-wow-delay="0.8s">
							<h4 style="text-align:left;margin-left:15%;"  class="footer-title">Contact</h4>
							<div class="widget_getintuch">
								<ul>
									<li style="text-align:left;" >
										<i class="fa-solid fa-location-dot"></i>
										3rd Main HAL 3rd Stage,<br>Old Airport Road Bangalore <br> KA 560017 IN

									</li>
									<li style="text-align:left;" >
										<i class="fa-brands fa-whatsapp"></i>
										+(91) 720 409 1622<br>
									</li>
									<li style="text-align:left;">
										<i class="fa-solid fa-inbox"></i>
										gatetrader.com<br>
										gatefuturelabs.com
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.0s">
							<h4 class="footer-title">Our links</h4>
							<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us </a></li>
								<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
								<li><a href="{% url 'blog' %}">Blog</a></li>
								<li><a href="{% url 'join' %}">Join Our Team</a></li>
							</ul>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title">Other links</h4>
							<ul>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="https://gatefuturelabs.zohorecruit.in/careers">Careers</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
								<li><a href="{% url 'terms' %}">Terms & Condition</a></li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title"></h4>
							<a href="http://www.gatetrader.com" ><img class="" src="{% static 'assets/images/trp3.png' %}" style="margin-right:11%;height:75px;align:bottom;"  ></a> <br><br><br><br>
							<img class="" src="{% static 'assets/images/iso.png' %}" style="margin-right:55%;height:60px;"  >
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom text-md-center text-md-center">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-start text-center ">
							<p class="copyright-text wow fadeInUp" data-wow-delay="1.6s">Copyright 2023 by <a class="text-primary" href="" target="_blank">GateFutureLabs</a>.com All rights Reserved</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-end  text-center">
							<ul class="footer-link wow fadeInUp" data-wow-delay="1.8s">
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'contact' %}">Help Desk</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="dz-shape-2">
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
		</ul>
	</footer>
    <!-- Footer End -->

	<button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>



<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/js/anm.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/vendor/wow/wow.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- OWL silder -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'assets/vendor/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/vendor/apexchart/js/apexcharts.min.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.ajax.js' %}"></script><!-- AJAX -->
<script src="{% static 'assets/js/chart-init.js' %}"></script><!-- Chart Init -->
<script src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM JS -->

<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "siq0a2c55ded5a61f3c599bb72a29265b2b44a84239ac339327c2c647f2f92e53a3", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zohopublic.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
</body>
</html>
