{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNK27VZ5RF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNK27VZ5RF');
</script>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="GATE_Future_Labs,Vr_trading,algo_trading_brainwave,vr_reality,value_innovation">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="GATE Future Labs Website">
	<meta property="og:title" content="GATE Future Labs Website">
	<meta property="og:description" content="GATE Future Website">
	<meta property="og:image" content="https://gate.future.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title -->
	<title>Gate Future Labs, A Value Innovation Company</title>

	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon8.png' %}">

	<!-- Stylesheet -->
	<link href="{% static 'assets/vendor/animate/animate.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

	<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" href="{% static 'assets/css/skin/skin-1.css' %}">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' %}" rel="stylesheet">

</head>
<body id="bg" data-anm=".anm">

<!--loader start -->
<div id="loading-area" class="loading-page-1">
	<div class="loader">
		<div class="loading-dot"></div>
	</div>
</div>
<!--loader start -->

<div class="page-wraper">

	<!-- Header -->
	<header class="site-header mo-left header header-transparent">
		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg">
			<div class="main-bar clearfix ">
				<div class="container clearfix">

					<!-- Website Logo -->
					<div class="logo-header">
						<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
						<a href="{% url 'index' %}" class="logo-dark"><img src="{% static 'assets/images/lg1.png' %}" alt=""></a>
					</div>

					<!-- Nav Toggle Button -->
					<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<!-- Extra Nav -->
					<div class="extra-nav">
						<div class="extra-cell">
							<a  class="btn btn-outline-light btn-lg text-light" target="_blank" ><b>Login</b></a>
							<a  class="btn btn-primary btn-lg btn-shadow" target="_blank" ><b>Register</b></a>
						</div>
					</div>

					<!-- Header Nav -->
					<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<div class="logo-header">
							<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'https://gatefuturelabs.com/static/assets/images/lg1.png' %}" alt=""></a>
							<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'https://gatefuturelabs.com/static/assets/images/lg1.png' %}" alt=""></a>
						</div>
							<ul class="nav navbar-nav navbar navbar-left">
							<li><a style="color:#3090c7;"  href="{% url 'index' %}"><b>Home</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'about' %}"><b>About Us</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'subscribe' %}"><b>Subscribe</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'blog' %}"><b>Blog</b></a></li>
							<li><a style="color:#3090c7;" href="{% url 'join' %}"> <b>Join Our Team</b></a></li>
							</li>
							<li><a style="color:#3090c7;" href="{% url 'contact' %}"><b>Contact Us</b></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->
	</header>
	<!-- Header End -->


<meta name="viewport" content="width=device-width, initial-scale=3">
	<br>
<section class="content-inner-1 bg-grey position-relative">
			<div class="container">
				<div class="row">
					<div class="col-lg-15 col-md-35 col-sm-45 m-b30">
						<div class="contant-box style-2 bg-white">
							<div class="row">
								<div class="col-lg-12">
									<div class="crypto-info">
										<h5 style="font-size:140%;color:black;text-align:center;"><b>Plans that fit your scale</b></h5>
									<p style="color:black;text-align:left;font-size:84%;margin-left:2%;margin-right:1%;"> Please select the best plan suited for you to subscribe to RoSH Signals. RoSH signals are proprietary patent pending signal system that facilitate highly profitable trades in Options segments. Based on your subscription plan, GateTrader will execute Automated trades in your connected broker Demat account.</p>
		</div>
								</div>
							</div>
						</div>
					</div>

				<ul class="dz-shape-2">
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
			</ul>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">
						<div class="pricing-wrapper rounded wow" data-wow-delay="1.0s">
							<div class="pricing-inner">
								<a><img src="{% static 'assets/images/card1.jpg' %}" style="width:400px;height:360px;" alt=</a>
								<ul class="table-price">

									<li style=color:white;font-size:90%;" class="price"> <b></b>Free Trial</li><br><br><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

									        <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"/>
												<circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"/>
											</svg>

								</ul>
									<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:10%;margin-right:10%;font-size:90%;" class="price"> <b></b><br><br></li><br>
									<li  style=color:white;text-align:left;margin-left:1%;" class="price"><b></b><small>₹ Free&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



										<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"> <br> ₹ 9,980 / week</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>


											<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"> <br><br><br><br><br><br> Unlimited Automated trade executions</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>


											<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"><br><br><br><br><br><br><br><br><br><br><br> Based on Nifty signal</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>

												<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> All features</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>
							</div>
							<div class="pricing-price">
								<div class="pricin-footer m-t20 text-center">
									<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KgOZoOUH2EXEF8" async> </script> </form>
									<a href="" class=""></a>

								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">
						<div class="pricing-wrapper rounded wow" data-wow-delay="1.2s">
							<div class="pricing-inner">
								<a><img src="{% static 'assets/images/card2.jpg' %}" style="width:400px;height:360px;" alt=</a>
								<ul class="table-price">

									<li style=color:white;font-size:90%;" class="price"> <b></b>Nifty Signal</li><br><br><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.2744 18.8013H16.0334V23.616H19.2744C19.9286 23.616 20.5354 23.3506 20.9613 22.9053C21.4066 22.4784 21.672 21.8726 21.672 21.1989C21.673 19.8813 20.592 18.8013 19.2744 18.8013Z" fill="white"/>
												<path d="M18 0C8.07429 0 0 8.07429 0 18C0 27.9257 8.07429 36 18 36C27.9257 36 36 27.9247 36 18C36 8.07531 27.9247 0 18 0ZM21.6627 26.3355H19.5398V29.6722H17.3129V26.3355H16.0899V29.6722H13.8528V26.3355H9.91954V24.2414H12.0898V11.6928H9.91954V9.59863H13.8528V6.3288H16.0899V9.59863H17.3129V6.3288H19.5398V9.59863H21.4735C22.5535 9.59863 23.5491 10.044 24.2599 10.7547C24.9706 11.4655 25.416 12.4611 25.416 13.5411C25.416 15.6549 23.7477 17.3798 21.6627 17.4744C24.1077 17.4744 26.0794 19.4647 26.0794 21.9096C26.0794 24.3453 24.1087 26.3355 21.6627 26.3355Z" fill="white"/>
												<path d="M20.7062 15.8441C21.095 15.4553 21.3316 14.9338 21.3316 14.3465C21.3316 13.1812 20.3842 12.2328 19.2178 12.2328H16.0334V16.4695H19.2178C19.7959 16.4695 20.3266 16.2226 20.7062 15.8441Z" fill="white"/>
											</svg>

								</ul>
									<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:10%;margin-right:10%;font-size:90%;" class="price"> <b></b><br><br></li><br>
									<li style="color:white;text-align:left;margin-left:1%;font-size:130%;" class="price"><b></b><small><b>₹49,980/Biweekly&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



										<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"> <br>  Two Weeks (from the first date of execution to 14 days)</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



											<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"> <br><br><br><br><br><br> Unlimited Automated trade executions</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>


											<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"><br><br><br><br><br><br><br><br><br><br> Based on Nifty and bank Nifty signal</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>

												<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> All features</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



							</div>
							<div class="pricing-price">
								<div class="pricing-footer m-t20 text-center">
									<form><script  src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KgP5W8B5M2EGCo" async> </script></form>
									<a href="" class=""></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">
						<div class="pricing-wrapper rounded wow" data-wow-delay="1.6s">
							<div class="pricing-inner">
								<a><img src="{% static 'assets/images/card3.jpg' %}" style="width:400px;height:360px;" alt=</a>
								<ul class="table-price">

									<li style=color:white;font-size:90%;" class="price"> <b></b>Bank Nifty</li><br><br><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                                           <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.2744 18.8013H16.0334V23.616H19.2744C19.9286 23.616 20.5354 23.3506 20.9613 22.9053C21.4066 22.4784 21.672 21.8726 21.672 21.1989C21.673 19.8813 20.592 18.8013 19.2744 18.8013Z" fill="white"/>
												<path d="M18 0C8.07429 0 0 8.07429 0 18C0 27.9257 8.07429 36 18 36C27.9257 36 36 27.9247 36 18C36 8.07531 27.9247 0 18 0ZM21.6627 26.3355H19.5398V29.6722H17.3129V26.3355H16.0899V29.6722H13.8528V26.3355H9.91954V24.2414H12.0898V11.6928H9.91954V9.59863H13.8528V6.3288H16.0899V9.59863H17.3129V6.3288H19.5398V9.59863H21.4735C22.5535 9.59863 23.5491 10.044 24.2599 10.7547C24.9706 11.4655 25.416 12.4611 25.416 13.5411C25.416 15.6549 23.7477 17.3798 21.6627 17.4744C24.1077 17.4744 26.0794 19.4647 26.0794 21.9096C26.0794 24.3453 24.1087 26.3355 21.6627 26.3355Z" fill="white"/>
												<path d="M20.7062 15.8441C21.095 15.4553 21.3316 14.9338 21.3316 14.3465C21.3316 13.1812 20.3842 12.2328 19.2178 12.2328H16.0334V16.4695H19.2178C19.7959 16.4695 20.3266 16.2226 20.7062 15.8441Z" fill="white"/>
											</svg>


								</ul>
									<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:10%;margin-right:10%;" class="price"> <b></b><br><br></li><br>
									<li  style="color:white;text-align:left;margin-left:1%;font-size:130%;" class="price"><small><b>₹99,800/Month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



										<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"> <br> One Month (from the first date of execution to 30 days)</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



											<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"> <br><br><br><br><br><br> Unlimited Automated trade executions</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>


											<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"><br><br><br><br><br><br><br><br><br><br> Based on Nifty signal</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>

												<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> All features</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



							</div>
							<div class="pricing-price">

								<div class="pricin-footer m-t20 text-center">
                                  <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KgPvgIWHfgIr1G" async> </script> </form>
									<a href="" class=""></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">
						<div class="pricing-wrapper rounded wow" data-wow-delay="1.6s">
							<div class="pricing-inner">
								<a><img src="{% static 'assets/images/card4.jpg' %}" style="width:400px;height:360px;" alt=</a>
							<ul class="table-price">

									<li style=color:white;font-size:90%;" class="price"> <b></b>Premium</li><br><br><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                                              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.2744 18.8013H16.0334V23.616H19.2744C19.9286 23.616 20.5354 23.3506 20.9613 22.9053C21.4066 22.4784 21.672 21.8726 21.672 21.1989C21.673 19.8813 20.592 18.8013 19.2744 18.8013Z" fill="white"/>
												<path d="M18 0C8.07429 0 0 8.07429 0 18C0 27.9257 8.07429 36 18 36C27.9257 36 36 27.9247 36 18C36 8.07531 27.9247 0 18 0ZM21.6627 26.3355H19.5398V29.6722H17.3129V26.3355H16.0899V29.6722H13.8528V26.3355H9.91954V24.2414H12.0898V11.6928H9.91954V9.59863H13.8528V6.3288H16.0899V9.59863H17.3129V6.3288H19.5398V9.59863H21.4735C22.5535 9.59863 23.5491 10.044 24.2599 10.7547C24.9706 11.4655 25.416 12.4611 25.416 13.5411C25.416 15.6549 23.7477 17.3798 21.6627 17.4744C24.1077 17.4744 26.0794 19.4647 26.0794 21.9096C26.0794 24.3453 24.1087 26.3355 21.6627 26.3355Z" fill="white"/>
												<path d="M20.7062 15.8441C21.095 15.4553 21.3316 14.9338 21.3316 14.3465C21.3316 13.1812 20.3842 12.2328 19.2178 12.2328H16.0334V16.4695H19.2178C19.7959 16.4695 20.3266 16.2226 20.7062 15.8441Z" fill="white"/>
											</svg>

								</ul>
									<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:10%;margin-right:10%;font-size:90%;" class="price"> <b></b><br><br></li><br>
									<li  style="color:white;text-align:left;margin-left:1%;font-size:130%;" class="price"><small><b>₹199,980/Month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



										<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"> <br> One Month (from the first date of execution to 30 days)</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



											<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"> <br><br><br><br><br><br> Unlimited Automated trade executions</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>


											<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"><br><br><br><br><br><br><br><br><br><br><br> Based on Nifty, Fin Nifty and Bank Nifty</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>

												<ul class="table-price">
									<li style="color:white;text-align:left;margin-left:7%;font-size:87%;" class="price"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> All features</li><br>
									<li  style=color:white; class="price"><b></b><small><b></b></small></li><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</ul>



							</div>
							<div class="pricing-price">
								<div class="pricin-footer m-t20 text-center">
									<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_MdmJ8IpClEE66n" async> </script> </form>

									<a href="" class=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<ul class="dz-shape-2">
			</ul>

			<div class="container">
				<div class="row">
					<div class="col-lg-45 col-md-45 col-sm-45 m-b30">
						<div class="contant-box style-2 bg-white">
							<div class="row">
								<div class="col-lg-12">
									<div class="crypto-info">
									<li style=color:black;font-size:140%;text-align:center;" class="price"> <b> </b></li>
										<br>

								</ul>
							</div>
							<div class="pricing-price">
								<ul class="pricing-features">
									<li style="color:black;font-size:120%;text-align:left;margin-left:10%;text-align:center;margin-right:10%;"><B>A user journey in Gatefuturelabs.com start from its</B></li><BR>
									<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">•&nbsp; User ID creation. Its a free service.</p>
									<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">•&nbsp;   New Demat account with brokers–is a free service.</p>
									<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">•&nbsp; Create API secret code with broker-is a free service.</p>
									<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">•&nbsp; KYC verification–free service.</p>
									<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">•&nbsp; Connect API code and activate 3 days/ achieve minimum 50% profit from principle amount in your Demat account through &nbsp;&nbsp;&nbsp;Algo trading – is a free service.</p>
                                    <p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">•&nbsp; Subscribe to Trading Signals by GATE Future Labs Pvt. Ltd.– weekly/by weekly/Monthly Subscription charges apply.</p>
									<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">•&nbsp; Automated trades executed in your Demat account (Using subscribed signals)–free of cost.</p>
									<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">•&nbsp; Reports send to you via eMail/WhatsApp/Telegram/voice mail is free of charge Visit “Subscription” section in &nbsp;&nbsp;&nbsp;Gatefuturelabs.com for active subscription fee and offers. All prices are charged for a month period (30 days) and monthly &nbsp;&nbsp;&nbsp;charges may change any time without notice.</p><br><br>

												<h5 style="font-size:140%;color:black;text-align:center;"><b>Terms & Conditions</b></h5><br>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Intraday Trading Services:</b><br></h5>
                                                                                              <p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">  We exclusively engage in executing intraday trades within your Demat accounts. We do not provide investment advisory services or implement hedging strategies for our clients.</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Minimum Account Balance:</b><br></h5>
                                                                                     <p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">      It is mandatory to maintain a balance ranging from one lakh to two lakhs INR in your Demat account. Withdrawals should only occur following prior notification and confirmation from us. Any account falling below the specified minimum balance will not be eligible for trade execution on that particular day.</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Non-Refundable Subscription Fees:</b><br></h5>
													<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">All subscription fees are non-refundable under any circumstances.</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Algo Trading on National Stock Exchange (NSE India):</b><br></h5>
													<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">All algorithmic trades will exclusively take place in the Index Options segment of the National Stock Exchange (NSE India).</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Trade Monitoring:</b><br></h5>
													<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">You have the ability to monitor daily trade executions in the Virtual Trading section and review Profit and Loss in the Returns section of our website. We are committed to safeguarding our clients' information and do not disclose any client-specific details or executed trades from their accounts.</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Trial Period and API Integration:</b><br></h5>
													<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">During the trial period, you can integrate your Demat account with GateTrader using API keys provided by the broker in our Brokers section. This integration allows you to execute trades within your own Demat account prior to subscription.</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Broker Connectivity:</b><br></h5>
													<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">Presently, we have established connectivity with AngelOne and Fyers brokers, and we anticipate the inclusion of eight additional brokers into our network in the near future.</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Confidentiality of Trade Signals:</b><br></h5>
													<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">All trade signals and orders are strictly intended for personal viewing. Any form of disclosure or distribution of our trade signals or trade details is strictly prohibited.</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Non-Registered Investment Advisor:</b><br></h5>
													<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">We are not registered with SEBI (Securities and Exchange Board of India), NSE (National Stock Exchange), or RBI (Reserve Bank of India) as investment advisors. We do not represent any government entity or agency associated with stock exchanges or governmental organizations. We do not offer investment tips or advice based on any strategy, technical, or fundamental analysis methods. If you wish to implement your own proven strategy and automate it, you may consider consulting other algorithmic trading strategy developers. We do not provide custom strategy development services for individual users.</p>
									<h5 style="font-size:120%;color:black;text-align:left;margin-left:10%;"><b> Corporate Custom Applications:</b><br></h5>
													<p style="color:black;text-align:left;margin-left:10%;margin-right:10%;">Corporate users may contact our support team for inquiries regarding customized applications tailored to their specific needs.</p>
								</ul>
		                        </div>
								</div>
							</div>
						</div>
					</div>

				<ul class="dz-shape-2">
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
			</ul>


				<ul class="dz-shape-2">
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
						<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
						<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
					</svg>
				</li>
				<li>
					<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
						<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
						<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
						<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
					</svg>
				</li>
			</ul>
		</section>
	</div>

<br>
<br>


 		<!-- Footer -->

   <footer class="site-footer style-1 position-relative">
		<div class="footer-top overlay-black-dark-dark" style="background-image:url('assets/images/ft5.png');">
			<div class="container">
				<div class="footer-subscribe-wrapper">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="widget wow fadeInUp" data-wow-delay="0.4s">
								<div class="footer-logo">
									<a href="{% url 'index' %}" class="logo-light"><img src="{% static 'assets/images/WT1.png' %}" style="text-align:left;margin-right:60%;" alt=""> </a>
								</div>
								<p style="text-align:left;margin-left:1%;" > GATE FUTURE LABS PVT LTD is a rapidly growing best-in-class Value Innovation company</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="widget  wow fadeInUp" data-wow-delay="0.6s">
								<h4 class="footer-title mb-3 ">Subscribe To Our Newsletter</h4>
								<form class="dzSubscribe ft-subscribe mb-4" action="assets/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group mb-0">
										<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary two"><i class="fa-regular fa-paper-plane"></i></button>
										<button name="submit" value="Submit" type="submit" class="btn btn-primary style-2 text-primary">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row p-50">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="widget wow fadeInUp" data-wow-delay="0.8s">
							<h4 style="text-align:left;margin-left:15%;"  class="footer-title">Contact</h4>
							<div class="widget_getintuch">
								<ul>
									<li style="text-align:left;" >
										<i class="fa-solid fa-location-dot"></i>
										3rd Main HAL 3rd Stage,<br>Old Airport Road Bangalore <br> KA 560017 IN

									</li>
									<li style="text-align:left;" >
										<i class="fa-brands fa-whatsapp"></i>
										+(91) 720 409 1622<br>
									</li>
									<li style="text-align:left;">
										<i class="fa-solid fa-inbox"></i>
										gatetrader.com<br>
										gatefuturelabs.com
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.0s">
							<h4 class="footer-title">Our links</h4>
							<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us </a></li>
								<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
								<li><a href="{% url 'blog' %}">Blog</a></li>
								<li><a href="{% url 'join' %}">Join Our Team</a></li>
							</ul>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title">Other links</h4>
							<ul>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="https://gatefuturelabs.zohorecruit.in/careers">Careers</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
								<li><a href="{% url 'terms' %}">Terms & Condition</a></li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-6">
						<<div class="widget widget_links wow fadeInUp" data-wow-delay="1.4s">
							<h4 class="footer-title"></h4>
							<a href="http://www.gatetrader.com" ><img class="" src="{% static 'assets/images/trp3.png' %}" style="margin-right:11%;height:75px;align:bottom;"  ></a> <br><br><br><br>
							<img class="" src="{% static 'assets/images/iso.png' %}" style="margin-right:55%;height:60px;"  >
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom text-md-center text-md-center">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-start text-center ">
							<p class="copyright-text wow fadeInUp" data-wow-delay="1.6s">Copyright 2023 by <a class="text-primary" href="" target="_blank">GateFutureLabs</a>.com All rights Reserved</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="footer-inner text-lg-end  text-center">
							<ul class="footer-link wow fadeInUp" data-wow-delay="1.8s">
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'contact' %}">Help Desk</a></li>
								<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="dz-shape-2">
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.5 0L30 36.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M21 14.5L30 36.5L0 11.5L21 14.5Z" fill="var(--primary-dark)"></path>
					<path d="M36.5 0L21 14.5L0 11.5L36.5 0Z" fill="var(--primary)"></path>
					<path d="M36.5 0L30 36.5L21 14.5L36.5 0Z" fill="var(--primary-hover)"></path>
				</svg>
			</li>
			<li>
				<svg width="50" height="50" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M41 0L65.5 14L63.5 59L23.5 66.5L0 52L1.5 7.5L41 0Z" fill="var(--primary)"></path>
					<path d="M1.5 7.5L25.5 21.5L23.5 66.5L0 52L1.5 7.5Z" fill="var(--primary-dark)"></path>
					<path d="M1.5 7.5L41 0L65.5 14L25.5 21.5L1.5 7.5Z" fill="var(--primary-hover)"></path>
					<path d="M25.5 21.5L65.5 14L63.5 59L23.5 66.5L25.5 21.5Z" fill="var(--primary)"></path>
				</svg>
			</li>
		</ul>
	</footer>
    <!-- Footer End -->


	<button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/js/anm.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'assets/vendor/wow/wow.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- OWL silder -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script><!-- WOW.JS -->
<script src="{% static 'assets/vendor/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'assets/vendor/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/vendor/apexchart/js/apexcharts.min.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'assets/js/dz.ajax.js' %}"></script><!-- AJAX -->
<script src="{% static 'assets/js/chart-init.js' %}"></script><!-- Chart Init -->
<script src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM JS -->

<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "siq0a2c55ded5a61f3c599bb72a29265b2b44a84239ac339327c2c647f2f92e53a3", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zohopublic.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
</body>
</html>